Test Results
=========

Test Cases, Description, and Pass/Fail
--------------------

---
| Test Case # | Description                                                                                                   | Pass/Fail |
| ----------- | ------------------------------------------------------------------------------------------------------------- | --------- |
| 1           | If video player code works properly                                                                           | Pass      |
| 2           | If video player is recording (See Requirement #4)                                                             | Fail      |
| 3           | If audio is being recorded during the video presentation                                                      | Pass      |
| 4           | If the audio can be played back while watching the recorded video presentation (See Requirement #1)           | Pass      |
| 5           | If the video presentation looks like a video recording (See Requirement #4)                                   | Pass      |
| 6           | If the Presenter Feedback Form submits through email                                                          | Pass      |
| 7           | If the search function searches through the slideshow presentation for the specific word (See Requirement #3) | Fail      |
| 8           | If the provided clickable links work properly and take the user to the source                                 | Pass      |
